#root{
    margin: 0;
    padding: 10px 100px;
    background-image: url('./img/cool-background.png');
    box-shadow: 0 0 20px 0.1px;
}

.search-component{
    max-width: 800px;
}


.main{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    min-width: 180px;
    width: calc(20% - 5px);
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    #root{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        margin:0;
    }
    
    main{
        justify-content: space-around;
    }
    .card {
        width: calc(30% - 10px); /* Ancho del card (33.33% de 3 tarjetas por fila) */
        gap: 5px;
    }
    .search-component{
        font-size: 14px;
    }

    .search-input{
        min-width: 150px;
    }

    .search-logo{
        min-width: 200px;
        width: 30%;
    }
    .search-form{
        width: 70%;
    }

    .search-form div svg{
        width: 20px;
    }

    #nombres{
        min-width: 200px;
        max-height: 100px;
        min-height: 100px;
        transform: translate(25px,70px)
    }

    .generations{
        flex-wrap: wrap;
    }

    .generations h3{
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    #root{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .search-component{
        margin-top: 10px;
    }
    
    .search-bar{
        width: 90%;
        gap: 5px;
    }

    .search-logo{
        min-width: 120px;
    }

    .logo-pokedex{
        width: 100%;
    }

    .search-form{
        width: 200px;
        gap: 5px;
        align-items: center;
    }

    .search-input{
        min-width: 140px;
        height: 20px;
    }

    .search-form div svg{
        width: 15px;
    }

    #nombres{
        min-width: 100px;
        max-height: 100px;
        min-height: 100px;
        transform: translate(25px,70px)
    }

    ::placeholder{
        font-size: 8px;
    }

    .all-types{
        margin: 10px;
        font-size: 10px;
    }

    .generations{
        margin: 0;
        gap: 2px;
    }

    .generations h3{
        font-size: 8px;
    }

    .arrow-button{
        width: 20px;
        height: 20px;
    }

    .card {
        min-width: 160px;
        gap: 3px;
        width: calc(100px - 10px); /* Ancho del card al 100% */
        font-size: 14px;
    }
    .header-card h3:nth-of-type(2){
        font-size: 16px;
        line-height: 35px;
    }
    .header-card::after {
        height: 50px;
        width: 80px; 
        transform: translate(40px,95px);
    }
    .card::after{
        height: 50px;
        width: 80px; 
        transform: translate(-40px,5px);
    }
    .card-type.card{
        margin-top: -2vh;
        width: 300px;
        transform: translate(-150px)
    }
    .datos-categoria{
        font-size: 9px;
    }
    .datos-tipos{
        font-size: 10px;
        padding: 0;
    }
    .cerrar-card-type{
        transform: translate(120px,-5px)
    }
  }
  
  
  
  
  