#root{
    margin: 0;
    padding: 10px 100px;
    background-image: url('./img/cool-background.png');
    box-shadow: 0 0 20px 0.1px;
}

.header-app{
    max-width: 800px;
}

.main{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.card{
    min-width: 180px;
    width: calc(20% - 5px);
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    #root{
        display: flex;
        justify-content: center;
        width: 80%;
        margin:0;
    }
    
    main{
        justify-content: space-around;
    }
    .card {
        width: calc(30% - 10px); /* Ancho del card (33.33% de 3 tarjetas por fila) */
        gap: 5px;
    }
  }
  
  @media screen and (max-width: 480px) {
    #root{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .card {
        min-width: 160px;
        gap: 3px;
        width: calc(100px - 10px); /* Ancho del card al 100% */
        font-size: 14px;
    }
    .header-card h3:nth-of-type(2){
        font-size: 16px;
        line-height: 35px;
    }
    .header-card::after {
        height: 50px;
        width: 80px; 
        transform: translate(40px,95px);
    }
    .card::after{
        height: 50px;
        width: 80px; 
        transform: translate(-40px,5px);
    }
    .card-type.card{
        margin-top: -2vh;
        width: 300px;
        transform: translate(-150px)
    }
    .datos-categoria{
        font-size: 9px;
    }
    .datos-tipos{
        font-size: 10px;
        padding: 0;
    }
    .cerrar-card-type{
        transform: translate(120px,-5px)
    }
  }
  
  
  
  
  