.card-type-content{
    display: flex;
    justify-content: center;    
    width: 100%;
    height: auto;
}

.card-type.card{
    position: absolute;
    width: 500px;
    height: auto;
    max-height: 95vh;
    top: 3vh;
    left: 50%;
    transform: translateX(-250px);
    z-index: 30;
}

.card-type.card:hover{
    cursor: auto;
}

.card-type.card::after{
    display: none;
}

.header-card-type .type{
    width: 15em;
}

.header-card-type{
    padding-top: 10px;
    margin-bottom: 0px;
    height: 55px;
}
.header-card-type.header-card::after{
    display: none;
}

.tabla{
    padding: 10px 0;
    z-index: 50;
    font-size: 14px;
}

.tabla thead{
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
}

.tabla{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.tabla tr{
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    border-bottom: 1px solid #fff;
    min-height: 50px;
    font-size: 12px;
    padding: 5px 0;
}

.datos-categoria{
    display: flex;
    justify-content: center;
    background-color: #aaa;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 3px #000;
    border: 3px solid #fff;
    padding: 5px;
    border-radius: 50px;
}

.datos-tipos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 30px 0 30px;
    
}

.cerrar-card-type{
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: translate(220px,-5px);
    z-index: 90;
}

.cerrar-card-type:hover{
    filter: drop-shadow(0px 0px 1px #000);
}